.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.stopwatch, .setCounter {
  text-align: center;
  margin-bottom: 20px;
}

#time {
  font-size: 32px;
  margin-bottom: 10px;
}

button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.setCounter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#setCountContainer {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#setCountContainer label {
  margin-right: 5px;
}

#controlsContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
